[tool.black]
exclude = "/templates/"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88
known_first_party = ["features", "kedro", "tests"]
default_section = "THIRDPARTY"

[tool.coverage.report]
fail_under = 100
show_missing = true
omit = ["kedro/templates/*", "kedro/framework/hooks/specs.py", "kedro/extras/datasets/tensorflow/*"]
exclude_lines = ["pragma: no cover", "raise NotImplementedError"]
