anyconfig>=0.9.7, <1.0
click<8.0
cookiecutter>=1.6.0, <2.0
fsspec>=0.5.1, <0.7.0  # There is a breaking change in 0.7.0
jmespath>=0.9.5, <1.0
pip-tools>=4.0.0, <5.0.0
pluggy>=0.13.0, <1.0.0
python-json-logger>=0.1.9, <1.0
PyYAML>=4.2, <6.0
requests>=2.20.0, <3.0
toposort>=1.5, <2.0  # Needs to be at least 1.5 to be able to raise CircularDependencyError
