anyconfig~=0.9.7
cachetools~=4.1
click<8.0
cookiecutter~=1.7.0
fsspec>=0.5.1, <0.9
gitpython~=3.0
jmespath>=0.9.5, <1.0
jupyter_client>=5.1, < 7.0
pip-tools~=5.0
pluggy~=0.13.0
python-json-logger~=0.1.9
PyYAML>=4.2, <6.0
setuptools>=38.0
toml~=0.10
toposort~=1.5  # Needs to be at least 1.5 to be able to raise CircularDependencyError
