-r requirements.txt
adlfs>=0.2.4, <0.3
bandit>=1.6.2, <2.0
behave==1.2.6
biopython>=1.73, <2.0
black==v19.10.b0
dask[complete]>=2.6.0, <3.0
flake8>=3.5,<4.0
gcsfs>=0.3.0, <1.0
geopandas>=0.6.0, <1.0
hdfs>=2.5.8, <3.0
import-linter==1.0
joblib>=0.14
jupyter_client>=5.1.0, <6.0
matplotlib>=3.0.3, <4.0
memory_profiler>=0.50.0, <1.0
moto==1.3.7
mypy<=1.0
nbconvert>=5.3.1, <6.0
nbformat>=4.4.0, <5.0
networkx>=2.4, <3.0
pandas-gbq>=0.12.0, <1.0
pandas>=0.24.0, <2.0  # Needs to be at least 0.24.0 to make use of `pandas.DataFrame.to_numpy` (recommended alternative to `pandas.DataFrame.values`)
Pillow>=7.1.2, <7.2
pre-commit>=1.17.0, <2.0.0
psutil==5.6.6
pyarrow>=0.12.0, <1.0.0
pylint>=2.5.2, <3.0
pyspark>=2.2.0, <3.0; python_version < '3.8'
pytest-cov>=2.5, <3.0
pytest-mock>=1.7.1,<2.0
pytest>=3.9, <4.0
requests-mock>=1.6.0, <2.0.0
requests>=2.20.0, <3.0
s3fs>=0.3.0, <0.4.1  # Needs to be at least 0.3.0 to make use of `cachable` attribute on S3FileSystem.
SQLAlchemy>=1.2.0, <2.0
tables>=3.6
trufflehog>=2.1.0, <3.0
wheel==0.32.2
xlrd>=1.0.0, <2.0
xlsxwriter>=1.0.0, <2.0
