interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/not-existing-bucket/o/?delimiter=%2F
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"Not Found\"\
        ,\n    \"errors\": [\n      {\n        \"message\": \"Not Found\",\n     \
        \   \"domain\": \"global\",\n        \"reason\": \"notFound\"\n      }\n \
        \   ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
