/* override table width restrictions */
@media screen and (min-width: 767px) {
  .wy-table-responsive table td {
    white-space: normal;
  }

  .wy-table-responsive {
    overflow: visible;
  }
}

/* override the table font-size and line-height */
html.writer-html5 .rst-content .wy-table-responsive table.docutils th > p,
html.writer-html5 .rst-content .wy-table-responsive table.docutils td > p {
  font-size: 1em;
  line-height: 1em;
}

img[alt^="mermaid-"] {
  max-width: 600px;
}

.rst-content .important {
  background: #ffedcc;
}
.rst-content .important .admonition-title {
  background-color: #f0b37e;
}

/* Ensure the section title is visible when linked via a hash in the URL */
:target:before {
  content: "";
  display: block;
  height: 80px;
}

.wy-grid-header {
  position: fixed;
  z-index: 210;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 767px) {
  .wy-grid-header {
    display: none;
  }
}

.wy-header-logo {
  width: 280px;
}

.wy-header-logo a {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 7rem;
  color: black;
  font-size: 4rem;
  font-weight: 700;
  line-height: 7rem;
}

.wy-header-logo img {
  width: 4.5rem;
  height: auto;
  margin: 0 0.3rem 0 -0.6rem;
  padding: 0;
}

.wy-header-version {
  color: #555;
  display: inline-block;
  margin-left: 0.5em;
  font-size: 1.4rem;
  margin-top: -0.4045em;
  margin-bottom: 0.809em;
  font-weight: 400;
}

.wy-main-nav {
  display: flex;
  gap: 20px;
}

.wy-main-nav a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  font-size: 18px;
}

.wy-main-nav a.active {
  background: #ffc801;
}

.wy-grid-header div[role="search"] {
  width: 200px;
  margin-left: auto;
}

.wy-grid-header div[role="search"] input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 12px;
  color: #666;
  background-color: #fff;
  font-family: "Inter", sans-serif !important;
  font-size: 1.4289rem;
  border: 1px #ccc solid;
  border-radius: 2px;
  transition: all ease 0.15s;
  box-shadow: none;
}

.wy-body-for-nav .wy-menu-vertical {
  height: calc(100% - 75px);
}

.wy-body-for-nav .wy-side-nav-search .wy-main-nav {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.wy-body-for-nav .wy-side-nav-search .wy-main-nav a {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  line-height: 1;
  font-size: 16px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .wy-body-for-nav .wy-nav-side {
    top: 75px;
  }

  .wy-body-for-nav .wy-nav-side .wy-side-nav-search {
    display: none;
  }

  .wy-body-for-nav .wy-nav-content-wrap {
    margin-top: 75px;
  }
}
