anyconfig~=0.10.0
attrs~=21.3
cachetools~=4.1
click<9.0
cookiecutter>=2.1.1, <3.0
dynaconf>=3.1.2, <4.0
fsspec>=2021.4, <=2022.7.1
gitpython~=3.0
importlib-metadata>=3.6; python_version >= '3.8'
importlib_metadata>=3.6, <5.0; python_version < '3.8'  # The "selectable" entry points were introduced in `importlib_metadata` 3.6 and Python 3.10. Bandit on Python 3.7 relies on a library with `importlib_metadata` < 5.0
importlib_resources>=1.3  # The `files()` API was introduced in `importlib_resources` 1.3 and Python 3.9.
jmespath>=0.9.5, <2.0
pip-tools~=6.9
pluggy~=1.0.0
PyYAML>=4.2, <7.0
rich~=12.0
rope~=0.21.0  # subject to LGPLv3 license
setuptools>=38.0
toml~=0.10
toposort~=1.7  # Needs to be at least 1.5 to be able to raise CircularDependencyError
