/* Mermaid light mode - Kedro branding */
[data-md-color-scheme="default"] {
  --md-mermaid-node-bg-color: #FFF7E2;
  --md-mermaid-node-fg-color: #FFC900;
  --md-mermaid-label-bg-color: #FFF7E2;
  --md-mermaid-label-fg-color: #000000;
  --md-mermaid-edge-color: #000000;
}

/* Mermaid dark mode - Kedro branding */
[data-md-color-scheme="slate"] {
  --md-mermaid-node-bg-color: #636363;
  --md-mermaid-node-fg-color: #FFC900;
  --md-mermaid-label-bg-color: #636363;
  --md-mermaid-label-fg-color: #FFFFFF;
  --md-mermaid-edge-color: #FFFFFF;
}

