@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600");

html, body.wy-body-for-nav {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    line-height: 2rem;
}

html {
    font-size: 62.5%;
}

:focus {
    outline-color: #006dff;
}

body.wy-body-for-nav {
    font-size: 1.6rem;
    background: rgb(250, 250, 250) !important;
    color: #1e1e21;
    position: relative;
}

.wy-side-nav-search {
    text-align: left;
}

.wy-side-nav-search input[type=text] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
    color: #666;
    background-color: #fff;
    font-family: inherit;
    font-size: 1.6rem;
    border: 1px #ccc solid;
    border-radius: 2px;
    transition: all ease 0.15s;
    box-shadow: none;
}

.wy-side-nav-search input[type=text]:focus {
    border-color: #888;
    color: #333;
}

.wy-body-for-nav .wy-nav-side {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    width: 300px;
    overflow-x: hidden;
    min-height: 100%;
    background: white;
    z-index: 200;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
}

.wy-body-for-nav .wy-side-scroll {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow-x: initial;
    overflow-y: initial;
}

.wy-body-for-nav .wy-side-nav-search {
    width: 100%;
    background: none;
    margin: 0;
    padding: 0 20px;
}
.wy-body-for-nav .wy-side-nav-search a {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    height: 7rem;
    line-height: 7rem;
    color: black;
}
.wy-body-for-nav .wy-side-nav-search a:before {
    display: none;
}
.wy-body-for-nav .wy-side-nav-search a img.logo {
    width: 4.5rem;
    height: auto;
    margin: 0 0.3rem 0 -0.6rem;
    padding: 0;
}
.wy-body-for-nav .wy-side-nav-search>div.version {
    color: #555;
    display: inline-block;
    margin-left: 0.5em;
    font-size: 1.4rem;
}

.wy-body-for-nav .wy-menu-vertical {
    width: 300px;
    margin: 0;
    padding: 0px 20px 64px 20px;
    overflow-y: auto;
    height: 100%;
}

.wy-body-for-nav .wy-menu-vertical p.caption {
    margin: 1.5em 0 0.2em;
    padding: 0;
    font-size: 2rem;
    color: #161616;
    font-weight: normal;
    text-transform: none;
}

.wy-body-for-nav .wy-menu-vertical p.caption:first-child {
    margin-top: 1em;
}

.wy-body-for-nav .wy-menu-vertical li.on a, .wy-body-for-nav .wy-menu-vertical li.current>a {
    border-top: none;
    border-bottom: none;
}

.wy-body-for-nav .wy-menu-vertical li.current {
    background: none;
}

.wy-body-for-nav .wy-menu-vertical li {
    margin: 0;
    padding: 0 0 0 20px;
}

.wy-body-for-nav .wy-menu-vertical li a {
    display: block;
    margin: 0;
    padding: 1.1rem 0 !important;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #222;
    background: none !important;
}

.rst-content.style-external-links a.reference.external:after {
    color: inherit;
    opacity: 0.8;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #e72000;
}

.highlight .nv {
    color: #bd269e;
}

.highlight .c1,
.highlight .sd {
    color: #147087;
}

.highlight .nn {
    color: #0e84b5;
}

.highlight .nn {
    color: #0047bf;
}

.wy-body-for-nav .wy-menu-vertical a:hover {
    color: #000;
}

.wy-body-for-nav li span.toctree-expand {
    margin-left: -20px;
}

.wy-body-for-nav .toctree-expand:before {
    font-size: 15px;
    margin-right: 5px;
}

.wy-body-for-nav .wy-nav-content-wrap {
    margin-left: 300px;
    background: #fafafa;
}

.wy-body-for-nav .wy-nav-content {
    padding: 0;
    max-width: initial;
}

.wy-body-for-nav .wy-breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 7rem;
    padding-left: 3.2rem;
    background: white;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
}

.wy-body-for-nav .wy-breadcrumbs + hr {
    display: none;
}
.wy-body-for-nav .wy-breadcrumbs li {
    font-size: 1.8rem;
}

.wy-body-for-nav .wy-breadcrumbs li:not(:first-child) {
    margin-left: 6px;
}

.wy-body-for-nav .wy-breadcrumbs li.wy-breadcrumbs-aside {
    margin-left: 24px;
}

.wy-body-for-nav .wy-nav-content .document {
    padding: 10.2rem 3.2rem 2rem;
    max-width: 100rem;
}

.kedro-logo {
    margin-bottom: 3rem;
}

.wy-body-for-nav footer {
    padding: 32px;
}

.wy-body-for-nav .wy-body-for-nav {
    background: #fafafa !important;
    background-image: none;
    background-size: initial;
}

.wy-body-for-nav .wy-menu-vertical li.current a:hover {
    background: none;
}

.wy-menu-vertical a span.toctree-expand {
    color: #555 !important;
}

.wy-menu-vertical a:hover span.toctree-expand {
    color: #000 !important;
}

.wy-body-for-nav .wy-menu-vertical li.current a {
    border-right: none;
    font-weight: normal;
}

.wy-body-for-nav .wy-menu-vertical li.current a.current {
    font-weight: bold;
}

.wy-body-for-nav .toctree-l2,
.wy-body-for-nav .toctree-l3,
.wy-body-for-nav .toctree-l4,
.wy-body-for-nav .toctree-l5 {
    padding-left: 8px !important;
}

.wy-body-for-nav .toctree-l4  a {
    word-break: break-word;
}

.wy-plain-list-disc li,
.rst-content .section ul li,
.rst-content .toctree-wrapper ul li,
article ul li {
    list-style: square;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
}

.rst-content .toctree-wrapper ul li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: 'Titillium Web', sans-serif;
    margin: 1.2em 0 1em 0;
    line-height: 1.2em;
    color: #272c2e;
    font-weight: normal;
}

.wy-body-for-nav .document > div > .section > *:not(:empty):first-of-type {
    margin-top: 0;
}

.wy-body-for-nav h1 {
    font-size: 2.6rem;
    letter-spacing: -0.3px;
}

.wy-body-for-nav h2 {
    font-size: 2.3rem;
}

.wy-body-for-nav h3 {
    font-size: 2.1rem;
}

.wy-body-for-nav h4 {
    font-size: 1.95rem;
}

.wy-body-for-nav h5 {
    font-size: 1.625rem;
}

.wy-body-for-nav h6 {
    font-size: 1.4625rem;
}

.wy-body-for-nav p {
    font-size: 100%;
    margin: 0 0 1em 0;
    line-height: 1.7;
}

.wy-body-for-nav p + details {
    margin: -4px 0 15px;
}

.wy-body-for-nav blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #ddd;
    color: #6a6a6a;
}

footer span.commit code,
footer span.commit .rst-content tt,
.rst-content footer span.commit tt {
    color: #6f7070;
}

.rst-content tt, .rst-content tt, .rst-content code {
    padding: 0.16em 0.48em;
}

.wy-body-for-nav .rst-content a, .wy-body-for-nav footer a {
    font-family: inherit;
    font-size: inherit;
    color: #006ea7;
    text-decoration: none;
}

.wy-body-for-nav .rst-content a:visited, .wy-body-for-nav footer a:visited {
    color: #447087;
    text-decoration-color: #739eb4;
}

.wy-body-for-nav .rst-content .btn, .wy-body-for-nav footer .btn,
.wy-body-for-nav .rst-content .btn:hover, .wy-body-for-nav footer .btn:hover,
.wy-body-for-nav .rst-content .headerlink, .wy-body-for-nav .rst-content .headerlink:hover,
.wy-body-for-nav .wy-breadcrumbs li a,
.wy-nav-content .wy-breadcrumbs .fa-github, .wy-nav-content .wy-breadcrumbs .fa-github:hover {
    text-decoration: none;
}

.wy-body-for-nav .rst-content a, .wy-body-for-nav footer a,
.wy-body-for-nav .rst-content a:hover, .wy-body-for-nav footer a:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #b7d9f2;
}

.rst-content a code span {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.rst-content a code {
    border-bottom: 1px solid #ff8c8c;
}

.wy-body-for-nav .wy-nav-top {
    padding: 5px 20px;
    background: white;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

.wy-body-for-nav .wy-nav-top i {
    transform: translateY(6px);
}

.wy-body-for-nav .wy-nav-top a {
    font-size: 2.8rem;
    color: black !important;
}


@media screen and (max-width: 768px) {
    .wy-body-for-nav .wy-nav-side {
        transform: translate(-300px, 0);
        transition: all ease 0.3s;
    }
    .wy-body-for-nav .wy-nav-side.shift {
        width: 85%;
        transform: translate(0, 0);
    }
    .wy-body-for-nav .wy-nav-content-wrap {
        margin-left: 0;
        transform: translate(0, 0);
        transition: all ease 0.3s;
    }
    .wy-body-for-nav .wy-nav-content-wrap.shift {
        position: relative;
        left: 0;
        transform: translate(85%, 0);
    }
    .wy-body-for-nav .wy-breadcrumbs {
        display: none;
    }
    .wy-body-for-nav .wy-nav-content .document {
        padding: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .wy-body-for-nav .wy-nav-side {
        width: 350px;
    }
    .wy-body-for-nav .wy-nav-content-wrap {
        margin-left: 350px;
    }
    html {
        font-size: 70%;
    }
}

/* Fix Read The Docs side-effects */
.wy-body-for-nav .rst-versions {
    font-size: 16px;
    line-height: 1;
}

.wy-breadcrumbs {
    position: fixed;
    z-index: 2;
}

/* Offset target anchor to below the fixed header */
:target:before {
    display: block;
    content: ' ';
    width: 1px;
    height: 60px;
    margin-top: -80px;
}
