name: Trigger Pipeline Performance Test
on:
  pull_request:
    types: [labeled]

jobs:
  check-label:
    runs-on: ubuntu-latest

    steps:
    - name: Check if 'performance' label was added
      if: contains(github.event.label.name, 'PERFORMANCE TEST')
      run: |
        echo "performance label detected. Triggering performance test."

    - name: Trigger performance test workflow in test project
      if: contains(github.event.label.name, 'performance')
      run: |
        curl -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: token ${{ secrets.GH_TAGGING_TOKEN }}" \
          https://api.github.com/repos/kedro-org/pipeline-performance-test/actions/workflows/performance-test.yml/dispatches \
          -d '{"ref":"main", "inputs": {"branch_name": "${{ github.event.pull_request.head.ref }}"}}'
